body {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6e5e5;
    background-image: url('volcanoPic.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}
  
.info {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-bottom: 20px;
    font-size: 18px;
}
  
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #ca4040;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0a0202;
    margin: 0 10px;
    border-radius: 5px;

}

.playerOne, .computer {
    font-weight: bold;
    margin-bottom: 5px;
}


.playerScore, .computerScore {
    font-size: 14px;
    color: #fff;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #fff;
    background-color: rgb(12, 11, 11);
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.cell:hover {
    background-color: #e6e5e5;
}

.resetNewGame {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .reset, .newGame {
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #b12727;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: 'Permanent Marker', cursive;
  }
  
  .reset:hover, .newGame:hover {
    background-color: #e25757;
    color: #fff;
  }

  .ai-move {
    background-color:  #fff;
    animation: aiMoveAnimation 0.3s ease-in-out;
}

@keyframes aiMoveAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}